:root {
	--scrollbar-base: #191919;
	--scrollbar-thumb: #363636;
}

html,
body {
	font-size: 12px;
	line-height: 170%;
	font-family: Verdana, Geneva, sans-serif;
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-base);
	/* Deprecated. Remove when 516 will be stable */
	scrollbar-base-color: #191919;
	scrollbar-face-color: #3b3b3b;
	scrollbar-3dlight-color: #252525;
	scrollbar-highlight-color: #252525;
	scrollbar-track-color: #191919;
	scrollbar-arrow-color: #929292;
	scrollbar-shadow-color: #3b3b3b;
}

body {
	margin: 0;
	background-color: #252525;
	color: #ffffff;
}

hr {
	border: 0;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.2);
}

img, a img {
	border-style:none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.25em 0;
	padding: 1em 0.25em 0.25em;
	border-bottom: 2px solid #4a75a1;
}

h1:first-of-type, h2:first-of-type, h3:first-of-type, h4:first-of-type, h5:first-of-type, h6:first-of-type {
	padding-top: 0;
}

h1 {
	font-size: 15px;
}

h2 {
	font-size: 14px;
}

h3 {
	font-size: 13px;
}

h4 {
	font-size: 12px;
}

ul {
	padding: 4px 0 0 10px;
	margin: 0;
	list-style-type: none;
}

li {
	padding: 0 0 2px 0;
}

/**
 * MARK: Layout
 */
.uiWindow {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

.uiTitle {
	display: flex;
	align-items: center;
	font-size: 14px;
	height: 2.2em;
	padding: 0 0.66em;
	background: #363636;
	color: rgba(255, 255, 255, 0.75);
	border-bottom: 1px solid #141414;
	box-shadow: 0px 0.15rem 0.15rem rgba(0, 0, 0, 0.1);
}

.uiContent {
	flex: 1;
	overflow: auto;
	margin: 0.5em;
	padding: 0.5em;
	background-color: rgba(0, 0, 0, 0.33);
}

/**
 * MARK: Buttons
 */
 a, button, a:visited, a:active {
	display: inline-flex;
	cursor: default;
	text-decoration: none;
	line-height: 1.33em;
	padding: 0.15em 0.5em;
	margin: 0.15em;
	background: #3f6489;
	color: #ffffff;
	border: 0;
	border-radius: 0.15em;
}

a:hover, a:visited:hover, a:active:hover, button:hover {
	background: #5d86af;
}

a.linkOff, button[disabled] {
	background: #999999 !important;
	color: rgba(255, 255, 255, 0.75) !important;
}

/**
 * MARK: Inputs
 */
input {
	padding: 0.1em 0.25em;
	background-color: #0a0a0a;
	color: #ffffff;
	border: 1px solid #6993c2;
	border-radius: 0.15em;
}

.statusDisplay {
	background: #000000;
	color: #ffffff;
	border: 1px solid #40628a;
	padding: 4px;
	margin: 3px 0;
}

.statusLabel {
	width: 138px;
	float: left;
	overflow: hidden;
	color: #98B0C3;
}

.statusValue {
	float: left;
}

.block {
	padding: 8px;
	margin: 10px 4px 4px 4px;
	border: 1px solid #40628a;
	background-color: #202020;
}

.block h3 {
	padding: 0;
}

.progressBar {
	width: 240px;
	height: 14px;
	border: 1px solid #666666;
	float: left;
	margin: 0 5px;
	overflow: hidden;
}

.progressFill {
	width: 100%;
	height: 100%;
	background: #40628a;
	overflow: hidden;
}

.progressFill.good {
	color: #ffffff;
	background: #00ff00;
}

.progressFill.average {
	color: #ffffff;
	background: #d09000;
}

.progressFill.bad {
	color: #ffffff;
	background: #ff0000;
}

.progressFill.highlight {
	color: #ffffff;
	background: #8BA5C4;
}

.clearBoth {
	clear: both;
}

.clearLeft {
	clear: left;
}

.clearRight {
	clear: right;
}

.line {
	width: 100%;
	clear: both;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
	display: none;
}

/**
 * MARK: Checkbox slider
 */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #383838;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #98B0C3;
  transition: .4s;
}

.slider.red:before {
  background-color: #d6858b;
}

.slider.locked:before {
  content: url("padlock.png");
  background-color: #b4b4b4;
}

input:checked + .slider {
  background-color: #40628a;
}

input:checked + .slider.red {
  background-color: #a92621;
}

input:checked + .slider.locked {
  background-color: #707070;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:focus + .slider.red {
  box-shadow: 0 0 1px #f3212d;
}

input:focus + .slider.locked {
  box-shadow: 0 0 1px #979797;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.switch span {
  display: inline-block;
  position: relative;
  width: 60px;
  margin-left: 60px;
}

ul.sparse {
	padding-bottom:20px;
}

.sparse li {
  margin-top: 2px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.severity {
	margin:0px;
	padding: 1px 8px 1px 8px;
	border-radius: 25px;
	border: 1px solid #161616;
	background: #40628a;
	color: #ffffff;
}

.severity img {
    display: inline-block;
    vertical-align: middle;
}

.code {
	padding: 6px 8px;
	border: 1px solid #161616;
	background: #383838;
	color: #FFFFFF;
	font-size: 12px;
	display: block;
	margin: 4px 0;
	font-family: 'Courier New', Courier, monospace;
}

.user-select {
	user-select: all;
}

